@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root{
    --MarromEscuro: #2e190e;
    --BegeEscuro: #c1a37f;
    --BegeClaro: #f5f5dc;
    font-family: Arial, Helvetica, sans-serif;
    --fonte-titulos: "Bebas Neue", sans-serif;
    --fonte-conteudo: "Oswald", sans-serif;
    --fonte-links: "Teko", sans-serif;
    --fonte-rodape: "Abel", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    text-indent: 0;
    box-sizing: border-box;
    font-size: 1em;
    text-decoration: none;
}

.cabecalho{
    padding: 40px;
    background-color: #2e190e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    background-image: url(imagens/Dark\ And\ Beige\ Elegant\ Business\ Facebook\ Cover.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    height: 480px;
    border-bottom: 2px #c1a37f;
}

.cabecalho-menu{
    display: flex;
    flex-flow:row wrap;
    gap: 100px;
    border-bottom: 2px #f5f5dc;
    margin-right: 50px;
}

.cabecalho-menu-item{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Playfair Display,serif; /*escolher fontes*/
}

.cabecalho-menu-item:hover{
    background-color: rgba(0, 0, 0, 0.346);
    font-size: 1.6em;
    color: #f5f5dc;
}

.video-principal{
    box-sizing: 90vh;
}
.conteudo-principal-nossa-empresa > h1{
    text-align: center;
    font-family: var(--font1);
    font-size: 3em;
    font-weight: 800;
}

h2{
    font-family: --fonte-titulos
}
#NossaEmpresa{
    font-family:var(--fonte-conteudo);
    color: black;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    inline-size: 2em;
}

    

#logo2{
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
    
}
body{
    background-image: linear-gradient(to bottom, #2e190e, #2e190e, #c1a37f,#c1a37f,#c1a37f,#2e190e, #2e190e);
    text-indent: 30px;
    text-align: justify;
}
body h2{
    text-align: center;
    padding: 40px;
}
main{
    background-color: var(--BegeClaro);
    margin: auto;
    max-width: 1200px;
    padding: 20px;
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
footer{
    background-color: #2e190e;
    text-align: center;
    padding-bottom: 20px;
}
footer > p{
    color: white;

}