@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


#home{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cta{
    width: 50%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.title{
    font-size: 7em;
    color: #c1a37f;
    font-family: "Bebas Neue", sans-serif;;
    font-style: italic;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.511);
}

.description{
    font-size: 2em;
    color: #f5f5dc;
}

#cta_button{
    display: flex;
    gap: 24px;
}

#cta_button a{
    text-decoration: none;
    color: black;
}

iframe{
    border-radius: 12px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.412);
}

#btn_whatsapp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Abel", sans-serif;
}

@media screen and (max-width:1170px)   {
    #home{
        height: 100%;
        padding-top: 0px;
        flex-direction: column;
    }

    #cta{
        width: 100%;
    }
}